<div class="text-align--center spacing--3"><h1>The Pink Moon Consulting Experience</h1></div>

<img class="image-scale-hack lazyautosizes lazyloaded" style="width: 100% !important;" src="{{ 'love_this.png' | asset_url}}"/>

      <div class="container spacing--2 fw--blocks">
        <div class="column left width--6">
           <p class="product-desc">Pink Moon is a team of creative and dynamic women. We are passionate about helping female entrepreneurs with small brands, even those with limited budgets, flourish.</p><br>
        <p> Eco beauty has been a core component of our founder's professional life for nearly a decade, long before “clean beauty” became a global movement. Since the launch of Pink Moon three years ago, we have consulted for nearly 20 various brands in different stages of growth.</p><br><br>


		<p>You can think of Pink Moon as your part-time CMO / COO. We will help your brand navigate through various creative and business pursuits that will create a strong foundation for your brand's growth. As innovative strategists, we will work alongside you passionately to make your vision come to life—whether that means helping you nurture your brand in its infancy or helping you launch in international markets.</p><br>


<p class="product-desc-cursive">We aspire to elevate your brand!<p>
           </div>
         
          
      <div class="column right spacing--4"> 
        <div class="rte-content" style="margin-left: 3em;">
        <div class="container spacing--2 fw--blocks">
        <div class="column left width--6">
       
        <p><strong>BRAND/PRODUCT DEVELOPMENT:</strong></p>
          <ul>
          <li>Brand name and product titles creation</li>
          <li>Brand voice &amp; direction, including copywriting</li>
          <li>Product development + concept</li>
          <li>Design of brand identity elements and primary &amp; secondary packaging</li>
          <li>Formula development, manufacturing &amp; management (including negotiating pricing!)</li>
          <li>Ingredients, product, packaging ordering</li>
          <li>Quality control</li>
          <li>Product safety testing</li>
          <li>Cost of goods management</li>
          <li>Pricing strategy</li>
          <li>Set up warehouse and fulfillment</li>
          <li>Product pipeline planning</li>
          <li>Fact/sell sheets creation</li>
          </ul>
          <br />
          <p class=""><strong>BUSINESS DEVELOPMENT:</strong></p>
          <ul>
          <li>Brand building + strategy</li>
          <li>Business consulting</li>
          <li>Market sizing</li>
          <li>Developing/executing sales programs</li>
          <li>Conducting product training</li>
          <li>Global business development</li>
          </ul>
          </div>
           <div class="column right width--6">
          <p class=""><strong>CREATIVE SERVICES:<br /></strong></p>
          <ul>
          <li>Content creation – blogging, e-newsletters, social media, copywriting, ghost writing, product copy, etc.</li>
          <li>Creative branding strategy </li>
          </ul>
          <br />
          <p class=""><strong>BRAND AWARENESS:<br /></strong></p>
          <ul>
          <li>E-Commerce management (Squarespace and Shopify)</li>
          <li>Website design (Squarespace)</li>
          <li>PR + influencer outreach</li>
          <li>Build your brand community</li>
          <li>Event planning + marketing</li>
          <li>Pop-up activation </li>
          </ul>
        	</div>
        </div>
        </div>
</div>
</div>
<!-- <div class="spacing--2">
  <h4 class="product-desc">WHAT FORMER CLIENTS & PAST EMPLOYERS HAVE SAID</h4>


<section
  class="slider"
  style="margin-top: 2em !important;"
  data-js-class="Slideshow"
  data-autoplay="true"
  data-rotate-frequency="7"
  data-transition-style="slide"
  data-full-width="true"
>
  <div class="row">
    <div class="slides">
      <div class="slide">
        <h2 class="title font--section-heading" style="margin:0em">
          "It has been an absolute pleasure getting to know Lin. She is very personable, friendly and easily approachable.
          Lin truly cares and believes in the brands she works with, which shows through her dedication and work ethic.
          I believe that Lin cares a lot about the people she works with and puts a lot of love into her work – this all shines"
          through as she has made clients into her personal friends.”<br>
        </h2>
      </div>
      <div class="slide">
        <h2 class="title font--section-heading" style="margin:0em">
          "Lin originally joined our team at Ayla in a customer service role and, by virtue of passion, curiosity, dedication,
          and hard work, quickly grew her responsibilities to include a variety of marketing and social media endeavors.
          She is a quick learner who absolutely loves working in beauty and wellness; she also simply has a great heart and
          cares deeply about the companies and individuals she works with. Her commitment, enthusiasm, and attention
          to detail make her a great team member!"<br>
          — DARA KENNEDY, FOUNDER OF AYLA (FORMER EMPLOYER)
        </h2>
      </div>
      <div class="slide">
        <h2 class="title font--section-heading" style="margin:0em">
          "It has been an absolute pleasure getting to know Lin. She is very personable, friendly and easily approachable.
          Lin truly cares and believes in the brands she works with, which shows through her dedication and work ethic.
          I believe that Lin cares a lot about the people she works with and puts a lot of love into her work – this all shines
          through as she has made clients into her personal friends.”<br>
          — DIANE READ, FOUNDER OF MO MI BEAUTY
        </h2>
      </div>
      <div class="slide">

        <h2 class="title font--section-heading" style="margin:0em">
         "Lin was an absolute pleasure to work with. She jumped into all aspects of Violets Are Blue to aid in our growth, 
          which has steadily grown this past year (2018). Lin helped keep me organized and on track, and there is no job
          too small for her to jump into helping us grow and spreading the word! Her work ethic is amazing, and she has
          the respect of the green beauty community, which helps open doors. She was also a pleasure to work with on <br>
          a daily basis, which is a major plus!"
           — CYNTHIA BESTEMAN, FOUNDER OF VIOLETS ARE BLUE</h2>
        </div>
       <div class="slide">

        <h2 class="title font--section-heading" style="margin:0em">
         “I thoroughly enjoyed my time working with Lin, and came to know her as a truly valuable asset to absolutely 
            any team. She is a well-rounded beauty industry professional and a true specialist in the luxury organic skincare 
            sector. Bottega Organica would not have survived as a brand without her attention to details and commitment
            to growing the brand. Her contribution to product development, marketing and social media, customer care
            and sales has been invaluable. Her knowledge of the luxury organic skincare sector and expertise marketing 
            and business development is impressive. She put this skillset to work in order to launch Bottega Organica in
            various parts of the world including Norway, Australia, Hong Kong, and across both coasts of the US."<br>
          — PAOLO MANFREDI, COO & CO-FOUNDER OF BOTTEGA ORGANICA (FORMER EMPLOYER)
         </h2>
        </div>
      <div class="slide">

        <h2 class="title font--section-heading" style="margin:0em">
        "Lin was a pleasure to work with. Her commitment and expertise in the wellness and beauty industry has proved 
        to be an asset to our brand. Lin is a first-rate all-rounder, whether it's public relations, business development,
        sales, or marketing, she is fully competent. She refined our marketing plans and helped us expand overseas. Lin
        often goes above and beyond her responsibilities to keep us focused on multiple PR and brand development
        projects. As a new company in the eco-luxury beauty industry, we were fortunate to have Lin on our team.”<br>
      - ERVINA WU, CO-FOUNDER OF 5YINA
        </h2>
        </div>
        <div class="slide">

        <h2 class="title font--section-heading" style="margin:0em">
        "Lin helped my team and I get clear on our brand's mission and story. She brought our vision to life, assisting
  in copy creation and brand endeavors. Lin is friendly and kind and knows the space of beauty and wellness very well."
      — AIMEE RAUPP, FOUNDER OF AIMEE RAUPP BEAUTY
        </h2>
        </div>

  </div>
  </div>

      </section>        
         -->
        
        
<style>
    .container {
      display: flex;
      flex-wrap: wrap;
      /* text-align: center; */
      /* font-weight: bold; */
    }

@media only screen and (max-width: 600px) {
  .container{
    margin: .5em;
  }
}
    .left, .right {
      flex: 1 300px;
      min-width: 0;
      /* background: #f55; */
      padding: 15px 0;
    }
    #right {
      /* background: #57f; */
    }
 @media only screen and (max-width: 600px) {
  .product-desc{
    font-size: 25px;
  }
} 
  
  </style>